* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  --oswald-font: 'Oswald', 'Helvetica', 'sans-serif';
  --roboto-font: 'Roboto', 'Helvetica', 'sans-serif';
  --montserrat-font: 'Montserrat', 'Helvetica', 'sans-serif';
}

html,
body {
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.about_us_body {
  background-color: #eaeaea;
}

.about_us_button {
  font-family: var(--oswald-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  text-decoration: none;
  padding: 10px 24px;
  background-color: #d23f40;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.about_us_button:hover {
  background-color: #ff6a07;
}

.about_introduction {
  background-image: url('../images/about_us/about_us_bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 290%;
  background-position: 100% 50%;
  color: #fff;
}

.about_introduction_title {
  padding-top: 160px;
  padding-bottom: 8px;
}

.about_introduction_text {
  padding-bottom: 205px;
  font-family: var(--roboto-font);
  font-size: 20px;
  line-height: 1.6;
}

.WWA_wrapper {
  display: flex;
  padding-top: 80px;
  padding-bottom: 56px;
}

.WWA_info {
  padding-right: 24px;
}

.WWA_title {
  color: #282428;
  padding-bottom: 32px;
}

.WWA_text {
  font-family: var(--roboto-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212121;
}

.WWA_image {
  height: 330px;
}

.WWA_top_blocks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.WWA_bottom_blocks {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 34px;
}

.WWA_block {
  max-width: 384px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 7px 7px 12px 1px rgba(0, 0, 255, 0.2);
}

.WWA_block:last-child {
  width: 384px;
}

.WWA_block_title {
  font-family: var(--oswald-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  color: #212121;
  padding-bottom: 12px;
}

.WWA_block_text {
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #212121;
}

.WWA_button {
  width: max-content;
  margin: 0 auto;
}

.HWW {
  margin-top: -140px;
  background-color: #282428;
}

.HWW_title {
  padding-top: 256px;
  padding-bottom: 8px;
  color: #fff;
}

.HWW_subtitle {
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  padding-bottom: 32px;
  color: #fff;
}

.HWW_blocks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 32px;
}

.HWW_block {
  width: 384px;
  padding: 32px;
  background-color: #fff;
  color: #212121;
}

.HWW_block_title {
  font-family: var(--oswald-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  padding: 8px 0;
}

.HWW_text {
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 16;
  line-height: 1.5;
}

.icon-search {
  fill: #d23f40;
  height: 40px;
  width: 28px;
}

.HWW_buttons_wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
}

.HWW_first_button {
  margin-right: 16px;
}

@media (max-width: 1600px) {
  .about_introduction {
    background-size: 100% 250%;
    background-position: 100% 50%;
  }

  .HWW_title {
    padding-top: 210px;
  }

  .HWW_buttons_wrapper {
    padding-bottom: 100px;
  }
}

@media (max-width: 1440px) {
  .WWA_wrapper {
    padding: 70px 0 50px;
  }

  .HWW_buttons_wrapper {
    padding-bottom: 80px;
  }
}

@media (max-width: 1366px) {
  .about_introduction_text,
  .WWA_block_text {
    font-size: 18px;
  }

  .about_introduction {
    background-size: 100% 210%;
  }

  .WWA_wrapper {
    padding: 60px 0 40px;
  }

  .HWW_title {
    padding-top: 200px;
  }

  .HWW_buttons_wrapper {
    padding-bottom: 70px;
  }
}

@media (max-width: 1280px) {
  .about_introduction {
    background-size: 100% 200%;
    background-position: center;
  }

  .WWA_wrapper {
    padding: 50px 0 30px;
  }

  .HWW_title {
    padding-top: 190px;
  }

  .HWW_buttons_wrapper {
    padding-bottom: 60px;
  }
}

@media (max-width: 1024px) {
  .about_introduction_text,
  .WWA_block_text {
    font-size: 16px;
    line-height: 1.4;
  }

  .about_introduction {
    background-size: 100% 160%;
    background-position: center;
  }

  .WWA_wrapper {
    display: block;
    padding: 40px 0 30px;
  }

  .WWA_info {
    padding-right: 0;
  }

  .WWA_title {
    padding-bottom: 20px;
  }

  .WWA_text {
    margin-bottom: 20px;
  }

  .WWA_image {
    width: 100%;
    height: 400px;
  }

  .WWA_block {
    max-width: 30%;
  }

  .HWW_block {
    padding: 20px;
  }

  .HWW_buttons_wrapper {
    padding-bottom: 50px;
  }
}

@media (max-width: 820px) {
  .about_introduction {
    background-size: 100% 130%;
  }

  .HWW_block {
    width: calc(50% - 12px);
  }
}

@media (max-width: 768px) {
  .about_introduction {
    background-size: 100% 120%;
  }
}

@media (max-width: 540px) {
  .about_introduction {
    height: 400px;
    background-size: 100% 100%;
  }

  .WWA_wrapper {
    padding-top: 30px;
  }

  .WWA_image {
    height: 300px;
  }

  .WWA_top_blocks,
  .WWA_bottom_blocks {
    flex-wrap: wrap;
  }

  .WWA_block {
    width: 100%;
    padding: 8px;
  }

  .HWW_title {
    padding-top: 180px;
  }

  .HWW_subtitle {
    padding-bottom: 20px;
  }

  .HWW_block {
    padding: 10px;
  }

  .HWW_buttons_wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 30px;
  }

  .HWW_first_button {
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .about_introduction {
    background-size: 120% 100%;
  }

  .WWA_image {
    height: 250px;
  }

  .WWA_block {
    max-width: 100%;
    padding: 10px;
  }

  .WWA_block:last-child {
    width: 100%;
  }

  .WWA_top_blocks,
  .WWA_bottom_blocks {
    gap: 10px;
  }

  .WWA_top_blocks {
    margin-bottom: 10px;
  }
}

@media (max-width: 430px) {
  .WWA_wrapper {
    padding: 20px 0;
  }

  .WWA_title {
    padding-bottom: 10px;
  }

  .WWA_image {
    height: 200px;
  }

  .HWW_subtitle {
    padding-bottom: 10px;
  }

  .HWW_blocks {
    gap: 10px;
  }

  .HWW_block {
    width: 100%;
  }

  .HWW_block_title {
    padding: 0;
  }
}

@media (max-width: 414px) {
  .about_introduction {
    background-position: left;
  }

  .WWA_block_title {
    padding-bottom: 10px;
  }
}

@media (max-width: 393px) {
  .about_introduction {
    background-size: 140% 100%;
  }
}

@media (max-width: 384px) {
  .about_introduction_text {
    padding-bottom: 0;
  }

  .WWA_wrapper {
    padding: 10px 0;
  }
}

@media (max-width: 375px) {
  .about_introduction {
    background-size: 150% 100%;
  }

  .HWW_subtitle {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .about_introduction {
    background-size: 170% 100%;
  }

  .WWA_block {
    padding: 5px;
  }

  .HWW_block {
    padding: 5px;
  }
}

